{
	"env": {
		"node": true,
		"jquery": true,
		"browser": true
	},
	"ignorePatterns": ["**/vendor/**/*.js"],
	"overrides": [],
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": ["jquery"],
	"extends": ["plugin:prettier/recommended"],
	"rules": {}
}
