@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff2?d78baa') format('woff2'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?d78baa') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?d78baa') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?d78baa##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="upk-icon-"], [class*=" upk-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.upk-icon-post-title {
  &:before {
    content: $upk-icon-post-title; 
  }
}
.upk-icon-post-content {
  &:before {
    content: $upk-icon-post-content; 
  }
}
.upk-icon-post-info {
  &:before {
    content: $upk-icon-post-info; 
  }
}
.upk-icon-post-featured-image {
  &:before {
    content: $upk-icon-post-featured-image; 
  }
}
.upk-icon-checkerboard {
  &:before {
    content: $upk-icon-checkerboard; 
  }
}
.upk-icon-gratis-grid {
  &:before {
    content: $upk-icon-gratis-grid; 
  }
}
.upk-icon-eldora-carousel {
  &:before {
    content: $upk-icon-eldora-carousel; 
  }
}
.upk-icon-gratis-carousel {
  &:before {
    content: $upk-icon-gratis-carousel; 
  }
}
.upk-icon-candy-list {
  &:before {
    content: $upk-icon-candy-list; 
  }
}
.upk-icon-instagram-gallery {
  &:before {
    content: $upk-icon-instagram-gallery; 
  }
}
.upk-icon-banner {
  &:before {
    content: $upk-icon-banner; 
  }
}
.upk-icon-stone-hover {
  &:before {
    content: $upk-icon-stone-hover; 
  }
}
.upk-icon-snog-slider {
  &:before {
    content: $upk-icon-snog-slider; 
  }
}
.upk-icon-iconic-slider {
  &:before {
    content: $upk-icon-iconic-slider; 
  }
}
.upk-icon-exotic-list {
  &:before {
    content: $upk-icon-exotic-list; 
  }
}
.upk-icon-foxico-slider {
  &:before {
    content: $upk-icon-foxico-slider; 
  }
}
.upk-icon-reading-progress-circle {
  &:before {
    content: $upk-icon-reading-progress-circle; 
  }
}
.upk-icon-pholox-slider {
  &:before {
    content: $upk-icon-pholox-slider; 
  }
}
.upk-icon-sline-slider {
  &:before {
    content: $upk-icon-sline-slider; 
  }
}
.upk-icon-berlin-slider {
  &:before {
    content: $upk-icon-berlin-slider; 
  }
}
.upk-icon-carbon-slider {
  &:before {
    content: $upk-icon-carbon-slider; 
  }
}
.upk-icon-reading-progress {
  &:before {
    content: $upk-icon-reading-progress; 
  }
}
.upk-icon-atlas-slider {
  &:before {
    content: $upk-icon-atlas-slider; 
  }
}
.upk-icon-category-carousel {
  &:before {
    content: $upk-icon-category-carousel; 
  }
}
.upk-icon-crystal-slider {
  &:before {
    content: $upk-icon-crystal-slider; 
  }
}
.upk-icon-vertex-slider {
  &:before {
    content: $upk-icon-vertex-slider; 
  }
}
.upk-icon-camux-slider {
  &:before {
    content: $upk-icon-camux-slider; 
  }
}
.upk-icon-static-social-count {
  &:before {
    content: $upk-icon-static-social-count; 
  }
}
.upk-icon-welsh-list {
  &:before {
    content: $upk-icon-welsh-list; 
  }
}
.upk-icon-amox-carousel {
  &:before {
    content: $upk-icon-amox-carousel; 
  }
}
.upk-icon-amox-grid {
  &:before {
    content: $upk-icon-amox-grid; 
  }
}
.upk-icon-skide-slider {
  &:before {
    content: $upk-icon-skide-slider; 
  }
}
.upk-icon-recent-comments {
  &:before {
    content: $upk-icon-recent-comments; 
  }
}
.upk-icon-pixina-grid {
  &:before {
    content: $upk-icon-pixina-grid; 
  }
}
.upk-icon-classic-list {
  &:before {
    content: $upk-icon-classic-list; 
  }
}
.upk-icon-noxe-slider {
  &:before {
    content: $upk-icon-noxe-slider; 
  }
}
.upk-icon-grove-timeline {
  &:before {
    content: $upk-icon-grove-timeline; 
  }
}
.upk-icon-post-calendar {
  &:before {
    content: $upk-icon-post-calendar; 
  }
}
.upk-icon-wixer-carousel {
  &:before {
    content: $upk-icon-wixer-carousel; 
  }
}
.upk-icon-wixer-grid {
  &:before {
    content: $upk-icon-wixer-grid; 
  }
}
.upk-icon-pixina-carousel {
  &:before {
    content: $upk-icon-pixina-carousel; 
  }
}
.upk-icon-soft-timeline {
  &:before {
    content: $upk-icon-soft-timeline; 
  }
}
.upk-icon-hansel-slider {
  &:before {
    content: $upk-icon-hansel-slider; 
  }
}
.upk-icon-holux-tabs {
  &:before {
    content: $upk-icon-holux-tabs; 
  }
}
.upk-icon-forbes-tabs {
  &:before {
    content: $upk-icon-forbes-tabs; 
  }
}
.upk-icon-snap-timeline {
  &:before {
    content: $upk-icon-snap-timeline; 
  }
}
.upk-icon-optick-slider {
  &:before {
    content: $upk-icon-optick-slider; 
  }
}
.upk-icon-buzz-list {
  &:before {
    content: $upk-icon-buzz-list; 
  }
}
.upk-icon-buzz-list-carousel {
  &:before {
    content: $upk-icon-buzz-list-carousel; 
  }
}
.upk-icon-newsletter {
  &:before {
    content: $upk-icon-newsletter; 
  }
}
.upk-icon-scott-list {
  &:before {
    content: $upk-icon-scott-list; 
  }
}
.upk-icon-fanel-list {
  &:before {
    content: $upk-icon-fanel-list; 
  }
}
.upk-icon-social-share {
  &:before {
    content: $upk-icon-social-share; 
  }
}
.upk-icon-social-link {
  &:before {
    content: $upk-icon-social-link; 
  }
}
.upk-icon-tiny-list {
  &:before {
    content: $upk-icon-tiny-list; 
  }
}
.upk-icon-author {
  &:before {
    content: $upk-icon-author; 
  }
}
.upk-icon-timeline {
  &:before {
    content: $upk-icon-timeline; 
  }
}
.upk-icon-featured-list {
  &:before {
    content: $upk-icon-featured-list; 
  }
}
.upk-icon-tag-cloud {
  &:before {
    content: $upk-icon-tag-cloud; 
  }
}
.upk-icon-post-accordion {
  &:before {
    content: $upk-icon-post-accordion; 
  }
}
.upk-icon-harold-carousel {
  &:before {
    content: $upk-icon-harold-carousel; 
  }
}
.upk-icon-post-category {
  &:before {
    content: $upk-icon-post-category; 
  }
}
.upk-icon-news-ticker {
  &:before {
    content: $upk-icon-news-ticker; 
  }
}
.upk-icon-kalon-carousel {
  &:before {
    content: $upk-icon-kalon-carousel; 
  }
}
.upk-icon-kalon-grid {
  &:before {
    content: $upk-icon-kalon-grid; 
  }
}
.upk-icon-paradox-slider {
  &:before {
    content: $upk-icon-paradox-slider; 
  }
}
.upk-icon-alice-carousel {
  &:before {
    content: $upk-icon-alice-carousel; 
  }
}
.upk-icon-alice-grid {
  &:before {
    content: $upk-icon-alice-grid; 
  }
}
.upk-icon-harold-list {
  &:before {
    content: $upk-icon-harold-list; 
  }
}
.upk-icon-alex-carousel {
  &:before {
    content: $upk-icon-alex-carousel; 
  }
}
.upk-icon-alex-grid {
  &:before {
    content: $upk-icon-alex-grid; 
  }
}
.upk-icon-ramble-grid {
  &:before {
    content: $upk-icon-ramble-grid; 
  }
}
.upk-icon-ramble-carousel {
  &:before {
    content: $upk-icon-ramble-carousel; 
  }
}
.upk-icon-maple-carousel {
  &:before {
    content: $upk-icon-maple-carousel; 
  }
}
.upk-icon-elite-carousel {
  &:before {
    content: $upk-icon-elite-carousel; 
  }
}
.upk-icon-alter-carousel {
  &:before {
    content: $upk-icon-alter-carousel; 
  }
}
.upk-icon-alter-grid {
  &:before {
    content: $upk-icon-alter-grid; 
  }
}
.upk-icon-elite-grid {
  &:before {
    content: $upk-icon-elite-grid; 
  }
}
.upk-icon-hazel-carousel {
  &:before {
    content: $upk-icon-hazel-carousel; 
  }
}
.upk-icon-hazel-grid {
  &:before {
    content: $upk-icon-hazel-grid; 
  }
}
.upk-icon-maple-grid {
  &:before {
    content: $upk-icon-maple-grid; 
  }
}
.upk-icon-multicolor-item {
  &:before {
    content: $upk-icon-multicolor-item; 
  }
}
.upk-icon-category_image {
  &:before {
    content: $upk-icon-category_image; 
  }
}
.upk-icon-video_link {
  &:before {
    content: $upk-icon-video_link; 
  }
}
.upk-icon-live-copy {
  &:before {
    content: $upk-icon-live-copy; 
  }
}
.upk-icon-asset-manager {
  &:before {
    content: $upk-icon-asset-manager; 
  }
}
.upk-icon-duplicator {
  &:before {
    content: $upk-icon-duplicator; 
  }
}
.upk-icon-animations {
  &:before {
    content: $upk-icon-animations; 
  }
}
.upk-icon-arrow-left-0 {
  &:before {
    content: $upk-icon-arrow-left-0; 
  }
}
.upk-icon-arrow-right-0 {
  &:before {
    content: $upk-icon-arrow-right-0; 
  }
}
.upk-icon-arrow-left-1 {
  &:before {
    content: $upk-icon-arrow-left-1; 
  }
}
.upk-icon-arrow-right-1 {
  &:before {
    content: $upk-icon-arrow-right-1; 
  }
}
.upk-icon-arrow-left-2 {
  &:before {
    content: $upk-icon-arrow-left-2; 
  }
}
.upk-icon-arrow-right-2 {
  &:before {
    content: $upk-icon-arrow-right-2; 
  }
}
.upk-icon-arrow-left-3 {
  &:before {
    content: $upk-icon-arrow-left-3; 
  }
}
.upk-icon-arrow-right-3 {
  &:before {
    content: $upk-icon-arrow-right-3; 
  }
}
.upk-icon-arrow-left-4 {
  &:before {
    content: $upk-icon-arrow-left-4; 
  }
}
.upk-icon-arrow-right-4 {
  &:before {
    content: $upk-icon-arrow-right-4; 
  }
}
.upk-icon-arrow-left-5 {
  &:before {
    content: $upk-icon-arrow-left-5; 
  }
}
.upk-icon-arrow-right-5 {
  &:before {
    content: $upk-icon-arrow-right-5; 
  }
}
.upk-icon-arrow-left-6 {
  &:before {
    content: $upk-icon-arrow-left-6; 
  }
}
.upk-icon-arrow-right-6 {
  &:before {
    content: $upk-icon-arrow-right-6; 
  }
}
.upk-icon-arrow-left-7 {
  &:before {
    content: $upk-icon-arrow-left-7; 
  }
}
.upk-icon-arrow-right-7 {
  &:before {
    content: $upk-icon-arrow-right-7; 
  }
}
.upk-icon-arrow-left-8 {
  &:before {
    content: $upk-icon-arrow-left-8; 
  }
}
.upk-icon-arrow-right-8 {
  &:before {
    content: $upk-icon-arrow-right-8; 
  }
}
.upk-icon-arrow-left-9 {
  &:before {
    content: $upk-icon-arrow-left-9; 
  }
}
.upk-icon-arrow-right-9 {
  &:before {
    content: $upk-icon-arrow-right-9; 
  }
}
.upk-icon-arrow-left-10 {
  &:before {
    content: $upk-icon-arrow-left-10; 
  }
}
.upk-icon-arrow-right-10 {
  &:before {
    content: $upk-icon-arrow-right-10; 
  }
}
.upk-icon-arrow-left-11 {
  &:before {
    content: $upk-icon-arrow-left-11; 
  }
}
.upk-icon-arrow-right-11 {
  &:before {
    content: $upk-icon-arrow-right-11; 
  }
}
.upk-icon-arrow-left-12 {
  &:before {
    content: $upk-icon-arrow-left-12; 
  }
}
.upk-icon-arrow-right-12 {
  &:before {
    content: $upk-icon-arrow-right-12; 
  }
}
.upk-icon-arrow-left-13 {
  &:before {
    content: $upk-icon-arrow-left-13; 
  }
}
.upk-icon-arrow-right-13 {
  &:before {
    content: $upk-icon-arrow-right-13; 
  }
}
.upk-icon-arrow-left-14 {
  &:before {
    content: $upk-icon-arrow-left-14; 
  }
}
.upk-icon-arrow-right-14 {
  &:before {
    content: $upk-icon-arrow-right-14; 
  }
}
.upk-icon-arrow-left-15 {
  &:before {
    content: $upk-icon-arrow-left-15; 
  }
}
.upk-icon-arrow-right-15 {
  &:before {
    content: $upk-icon-arrow-right-15; 
  }
}
.upk-icon-arrow-left-16 {
  &:before {
    content: $upk-icon-arrow-left-16; 
  }
}
.upk-icon-arrow-right-16 {
  &:before {
    content: $upk-icon-arrow-right-16; 
  }
}
.upk-icon-arrow-left-17 {
  &:before {
    content: $upk-icon-arrow-left-17; 
  }
}
.upk-icon-arrow-right-17 {
  &:before {
    content: $upk-icon-arrow-right-17; 
  }
}
.upk-icon-arrow-left-18 {
  &:before {
    content: $upk-icon-arrow-left-18; 
  }
}
.upk-icon-arrow-right-18 {
  &:before {
    content: $upk-icon-arrow-right-18; 
  }
}
.upk-icon-arrow-up-1 {
  &:before {
    content: $upk-icon-arrow-up-1; 
  }
}
.upk-icon-arrow-down-1 {
  &:before {
    content: $upk-icon-arrow-down-1; 
  }
}
.upk-icon-arrow-up-2 {
  &:before {
    content: $upk-icon-arrow-up-2; 
  }
}
.upk-icon-arrow-down-2 {
  &:before {
    content: $upk-icon-arrow-down-2; 
  }
}
.upk-icon-arrow-up-3 {
  &:before {
    content: $upk-icon-arrow-up-3; 
  }
}
.upk-icon-arrow-down-3 {
  &:before {
    content: $upk-icon-arrow-down-3; 
  }
}
.upk-icon-arrow-up-4 {
  &:before {
    content: $upk-icon-arrow-up-4; 
  }
}
.upk-icon-arrow-down-4 {
  &:before {
    content: $upk-icon-arrow-down-4; 
  }
}
.upk-icon-arrow-up-5 {
  &:before {
    content: $upk-icon-arrow-up-5; 
  }
}
.upk-icon-arrow-down-5 {
  &:before {
    content: $upk-icon-arrow-down-5; 
  }
}
.upk-icon-arrow-up-7 {
  &:before {
    content: $upk-icon-arrow-up-7; 
  }
}
.upk-icon-arrow-down-7 {
  &:before {
    content: $upk-icon-arrow-down-7; 
  }
}
.upk-icon-arrow-up-8 {
  &:before {
    content: $upk-icon-arrow-up-8; 
  }
}
.upk-icon-arrow-down-8 {
  &:before {
    content: $upk-icon-arrow-down-8; 
  }
}
.upk-icon-arrow-left-circle-1 {
  &:before {
    content: $upk-icon-arrow-left-circle-1; 
  }
}
.upk-icon-arrow-right-circle-1 {
  &:before {
    content: $upk-icon-arrow-right-circle-1; 
  }
}
.upk-icon-arrow-left-circle-2 {
  &:before {
    content: $upk-icon-arrow-left-circle-2; 
  }
}
.upk-icon-arrow-right-circle-2 {
  &:before {
    content: $upk-icon-arrow-right-circle-2; 
  }
}
.upk-icon-arrow-left-circle-3 {
  &:before {
    content: $upk-icon-arrow-left-circle-3; 
  }
}
.upk-icon-arrow-right-circle-3 {
  &:before {
    content: $upk-icon-arrow-right-circle-3; 
  }
}
.upk-icon-arrow-left-circle-4 {
  &:before {
    content: $upk-icon-arrow-left-circle-4; 
  }
}
.upk-icon-arrow-right-circle-4 {
  &:before {
    content: $upk-icon-arrow-right-circle-4; 
  }
}
.upk-icon-arrow-left-square-1 {
  &:before {
    content: $upk-icon-arrow-left-square-1; 
  }
}
.upk-icon-arrow-right-square-1 {
  &:before {
    content: $upk-icon-arrow-right-square-1; 
  }
}
.upk-icon-ultimate-post-kit {
  &:before {
    content: $upk-icon-ultimate-post-kit; 
  }
}
.upk-icon-hexagon-zigzag {
  &:before {
    content: $upk-icon-hexagon-zigzag; 
  }
}
.upk-icon-bulge-rectangle {
  &:before {
    content: $upk-icon-bulge-rectangle; 
  }
}
.upk-icon-hexagon-radius2 {
  &:before {
    content: $upk-icon-hexagon-radius2; 
  }
}
.upk-icon-hexagon {
  &:before {
    content: $upk-icon-hexagon; 
  }
}
.upk-icon-hexagon-radius {
  &:before {
    content: $upk-icon-hexagon-radius; 
  }
}
.upk-icon-g2 {
  &:before {
    content: $upk-icon-g2; 
  }
}
.upk-icon-plus-2 {
  &:before {
    content: $upk-icon-plus-2; 
  }
}
.upk-icon-user {
  &:before {
    content: $upk-icon-user; 
  }
}
.upk-icon-eye {
  &:before {
    content: $upk-icon-eye; 
  }
}
.upk-icon-preview {
  &:before {
    content: $upk-icon-preview; 
  }
}
.upk-icon-email {
  &:before {
    content: $upk-icon-email; 
  }
}
.upk-icon-meneame {
  &:before {
    content: $upk-icon-meneame; 
  }
}
.upk-icon-moimir {
  &:before {
    content: $upk-icon-moimir; 
  }
}
.upk-icon-instapaper {
  &:before {
    content: $upk-icon-instapaper; 
  }
}
.upk-icon-surfingbird {
  &:before {
    content: $upk-icon-surfingbird; 
  }
}
.upk-icon-livejournal {
  &:before {
    content: $upk-icon-livejournal; 
  }
}
.upk-icon-baidu {
  &:before {
    content: $upk-icon-baidu; 
  }
}
.upk-icon-line {
  &:before {
    content: $upk-icon-line; 
  }
}
.upk-icon-twitter {
  &:before {
    content: $upk-icon-twitter; 
  }
}
.upk-icon-linkedin {
  &:before {
    content: $upk-icon-linkedin; 
  }
}
.upk-icon-github {
  &:before {
    content: $upk-icon-github; 
  }
}
.upk-icon-youtube {
  &:before {
    content: $upk-icon-youtube; 
  }
}
.upk-icon-xing {
  &:before {
    content: $upk-icon-xing; 
  }
}
.upk-icon-instagram {
  &:before {
    content: $upk-icon-instagram; 
  }
}
.upk-icon-tumblr {
  &:before {
    content: $upk-icon-tumblr; 
  }
}
.upk-icon-apple {
  &:before {
    content: $upk-icon-apple; 
  }
}
.upk-icon-android {
  &:before {
    content: $upk-icon-android; 
  }
}
.upk-icon-dribbble {
  &:before {
    content: $upk-icon-dribbble; 
  }
}
.upk-icon-skype {
  &:before {
    content: $upk-icon-skype; 
  }
}
.upk-icon-vk {
  &:before {
    content: $upk-icon-vk; 
  }
}
.upk-icon-weibo {
  &:before {
    content: $upk-icon-weibo; 
  }
}
.upk-icon-renren {
  &:before {
    content: $upk-icon-renren; 
  }
}
.upk-icon-wordpress {
  &:before {
    content: $upk-icon-wordpress; 
  }
}
.upk-icon-google {
  &:before {
    content: $upk-icon-google; 
  }
}
.upk-icon-delicious {
  &:before {
    content: $upk-icon-delicious; 
  }
}
.upk-icon-digg {
  &:before {
    content: $upk-icon-digg; 
  }
}
.upk-icon-soundcloud {
  &:before {
    content: $upk-icon-soundcloud; 
  }
}
.upk-icon-wechat {
  &:before {
    content: $upk-icon-wechat; 
  }
}
.upk-icon-pinterest {
  &:before {
    content: $upk-icon-pinterest; 
  }
}
.upk-icon-whatsapp {
  &:before {
    content: $upk-icon-whatsapp; 
  }
}
.upk-icon-odnoklassniki {
  &:before {
    content: $upk-icon-odnoklassniki; 
  }
}
.upk-icon-pocket {
  &:before {
    content: $upk-icon-pocket; 
  }
}
.upk-icon-safari {
  &:before {
    content: $upk-icon-safari; 
  }
}
.upk-icon-chrome {
  &:before {
    content: $upk-icon-chrome; 
  }
}
.upk-icon-firefox {
  &:before {
    content: $upk-icon-firefox; 
  }
}
.upk-icon-opera {
  &:before {
    content: $upk-icon-opera; 
  }
}
.upk-icon-ie {
  &:before {
    content: $upk-icon-ie; 
  }
}
.upk-icon-vimeo {
  &:before {
    content: $upk-icon-vimeo; 
  }
}
.upk-icon-reddit {
  &:before {
    content: $upk-icon-reddit; 
  }
}
.upk-icon-edge {
  &:before {
    content: $upk-icon-edge; 
  }
}
.upk-icon-blogger {
  &:before {
    content: $upk-icon-blogger; 
  }
}
.upk-icon-facebook {
  &:before {
    content: $upk-icon-facebook; 
  }
}
.upk-icon-messenger {
  &:before {
    content: $upk-icon-messenger; 
  }
}
.upk-icon-googleplay {
  &:before {
    content: $upk-icon-googleplay; 
  }
}
.upk-icon-mix {
  &:before {
    content: $upk-icon-mix; 
  }
}
.upk-icon-telegram {
  &:before {
    content: $upk-icon-telegram; 
  }
}
.upk-icon-uikit {
  &:before {
    content: $upk-icon-uikit; 
  }
}
.upk-icon-viber {
  &:before {
    content: $upk-icon-viber; 
  }
}
.upk-icon-flipboard {
  &:before {
    content: $upk-icon-flipboard; 
  }
}
.upk-icon-buffer {
  &:before {
    content: $upk-icon-buffer; 
  }
}
.upk-icon-evernote {
  &:before {
    content: $upk-icon-evernote; 
  }
}
.upk-icon-plus {
  &:before {
    content: $upk-icon-plus; 
  }
}
.upk-icon-search {
  &:before {
    content: $upk-icon-search; 
  }
}
.upk-icon-edit {
  &:before {
    content: $upk-icon-edit; 
  }
}
.upk-icon-video-player {
  &:before {
    content: $upk-icon-video-player; 
  }
}
.upk-icon-post {
  &:before {
    content: $upk-icon-post; 
  }
}
.upk-icon-picture {
  &:before {
    content: $upk-icon-picture; 
  }
}
.upk-icon-music {
  &:before {
    content: $upk-icon-music; 
  }
}
.upk-icon-video {
  &:before {
    content: $upk-icon-video; 
  }
}
.upk-icon-code {
  &:before {
    content: $upk-icon-code; 
  }
}
.upk-icon-cart {
  &:before {
    content: $upk-icon-cart; 
  }
}
.upk-icon-location {
  &:before {
    content: $upk-icon-location; 
  }
}
.upk-icon-clock {
  &:before {
    content: $upk-icon-clock; 
  }
}
.upk-icon-calendar {
  &:before {
    content: $upk-icon-calendar; 
  }
}
.upk-icon-display {
  &:before {
    content: $upk-icon-display; 
  }
}
.upk-icon-tutorial {
  &:before {
    content: $upk-icon-tutorial; 
  }
}
.upk-icon-bubble {
  &:before {
    content: $upk-icon-bubble; 
  }
}
.upk-icon-bubbles {
  &:before {
    content: $upk-icon-bubbles; 
  }
}
.upk-icon-quote {
  &:before {
    content: $upk-icon-quote; 
  }
}
.upk-icon-spinner {
  &:before {
    content: $upk-icon-spinner; 
  }
}
.upk-icon-loading {
  &:before {
    content: $upk-icon-loading; 
  }
}
.upk-icon-spinner-2 {
  &:before {
    content: $upk-icon-spinner-2; 
  }
}
.upk-icon-enlarge {
  &:before {
    content: $upk-icon-enlarge; 
  }
}
.upk-icon-lock {
  &:before {
    content: $upk-icon-lock; 
  }
}
.upk-icon-menu {
  &:before {
    content: $upk-icon-menu; 
  }
}
.upk-icon-website {
  &:before {
    content: $upk-icon-website; 
  }
}
.upk-icon-url {
  &:before {
    content: $upk-icon-url; 
  }
}
.upk-icon-link {
  &:before {
    content: $upk-icon-link; 
  }
}
.upk-icon-star-empty {
  &:before {
    content: $upk-icon-star-empty; 
  }
}
.upk-icon-star-half {
  &:before {
    content: $upk-icon-star-half; 
  }
}
.upk-icon-star-full {
  &:before {
    content: $upk-icon-star-full; 
  }
}
.upk-icon-heart-full {
  &:before {
    content: $upk-icon-heart-full; 
  }
}
.upk-icon-heart-empty {
  &:before {
    content: $upk-icon-heart-empty; 
  }
}
.upk-icon-gallery {
  &:before {
    content: $upk-icon-gallery; 
  }
}
.upk-icon-question {
  &:before {
    content: $upk-icon-question; 
  }
}
.upk-icon-plus3 {
  &:before {
    content: $upk-icon-plus3; 
  }
}
.upk-icon-checkmark {
  &:before {
    content: $upk-icon-checkmark; 
  }
}
.upk-icon-new-tab {
  &:before {
    content: $upk-icon-new-tab; 
  }
}
.upk-icon-behance {
  &:before {
    content: $upk-icon-behance; 
  }
}
.upk-icon-yelp {
  &:before {
    content: $upk-icon-yelp; 
  }
}

