$icomoon-font-family: "ultimate-post-kit" !default;
$icomoon-font-path: "fonts" !default;

$upk-icon-post-block-modern: unquote('"\\e9b4"');
$upk-icon-post-block: unquote('"\\e9b5"');
$upk-icon-post-card: unquote('"\\e9b6"');
$upk-icon-post-carousel: unquote('"\\e9b7"');
$upk-icon-post-gallery: unquote('"\\e9b8"');
$upk-icon-post-grid-tab: unquote('"\\e9b9"');
$upk-icon-post-grid: unquote('"\\e9ba"');
$upk-icon-post-list: unquote('"\\e9bc"');
$upk-icon-post-slider: unquote('"\\e9bd"');
$upk-icon-post-timeline: unquote('"\\e9be"');
$upk-icon-single-post: unquote('"\\e9c4"');
$upk-icon-dynamic-carousel: unquote('"\\e9aa"');
$upk-icon-dynamic-grid: unquote('"\\e9ab"');
$upk-icon-dynamic-accordion: unquote('"\\e9ac"');
$upk-icon-dynamic-tabs: unquote('"\\e9ae"');
$upk-icon-remote-fraction: unquote('"\\e9a5"');
$upk-icon-remote-thumbs: unquote('"\\e9a6"');
$upk-icon-remote-pagination: unquote('"\\e9a7"');
$upk-icon-remote-arrows: unquote('"\\e9a9"');
$upk-icon-featured-gallery: unquote('"\\e9a0"');
$upk-icon-post-comments: unquote('"\\e9a1"');
$upk-icon-post-title: unquote('"\\e99a"');
$upk-icon-post-content: unquote('"\\e99b"');
$upk-icon-post-info: unquote('"\\e99e"');
$upk-icon-post-featured-image: unquote('"\\e99f"');
$upk-icon-checkerboard: unquote('"\\e998"');
$upk-icon-gratis-grid: unquote('"\\e995"');
$upk-icon-eldora-carousel: unquote('"\\e996"');
$upk-icon-gratis-carousel: unquote('"\\e997"');
$upk-icon-candy-list: unquote('"\\e994"');
$upk-icon-instagram-gallery: unquote('"\\e992"');
$upk-icon-banner: unquote('"\\e98f"');
$upk-icon-stone-hover: unquote('"\\e991"');
$upk-icon-snog-slider: unquote('"\\e98e"');
$upk-icon-iconic-slider: unquote('"\\e9a8"');
$upk-icon-exotic-list: unquote('"\\e98d"');
$upk-icon-foxico-slider: unquote('"\\e98c"');
$upk-icon-reading-progress-circle: unquote('"\\e98b"');
$upk-icon-pholox-slider: unquote('"\\e990"');
$upk-icon-sline-slider: unquote('"\\e999"');
$upk-icon-berlin-slider: unquote('"\\e9a4"');
$upk-icon-carbon-slider: unquote('"\\e98a"');
$upk-icon-reading-progress: unquote('"\\e987"');
$upk-icon-atlas-slider: unquote('"\\e988"');
$upk-icon-category-carousel: unquote('"\\e989"');
$upk-icon-crystal-slider: unquote('"\\e986"');
$upk-icon-vertex-slider: unquote('"\\e984"');
$upk-icon-camux-slider: unquote('"\\e985"');
$upk-icon-static-social-count: unquote('"\\e983"');
$upk-icon-welsh-list: unquote('"\\e97f"');
$upk-icon-amox-carousel: unquote('"\\e980"');
$upk-icon-amox-grid: unquote('"\\e981"');
$upk-icon-skide-slider: unquote('"\\e97e"');
$upk-icon-recent-comments: unquote('"\\e97d"');
$upk-icon-pixina-grid: unquote('"\\e975"');
$upk-icon-classic-list: unquote('"\\e976"');
$upk-icon-noxe-slider: unquote('"\\e977"');
$upk-icon-grove-timeline: unquote('"\\e978"');
$upk-icon-post-calendar: unquote('"\\e979"');
$upk-icon-wixer-carousel: unquote('"\\e97a"');
$upk-icon-wixer-grid: unquote('"\\e97b"');
$upk-icon-pixina-carousel: unquote('"\\e97c"');
$upk-icon-soft-timeline: unquote('"\\e96f"');
$upk-icon-hansel-slider: unquote('"\\e970"');
$upk-icon-holux-tabs: unquote('"\\e971"');
$upk-icon-forbes-tabs: unquote('"\\e972"');
$upk-icon-snap-timeline: unquote('"\\e973"');
$upk-icon-optick-slider: unquote('"\\e974"');
$upk-icon-buzz-list: unquote('"\\e96a"');
$upk-icon-buzz-list-carousel: unquote('"\\e96b"');
$upk-icon-newsletter: unquote('"\\e96c"');
$upk-icon-scott-list: unquote('"\\e96d"');
$upk-icon-fanel-list: unquote('"\\e96e"');
$upk-icon-social-share: unquote('"\\e969"');
$upk-icon-social-link: unquote('"\\e969"');
$upk-icon-tiny-list: unquote('"\\e968"');
$upk-icon-author: unquote('"\\e967"');
$upk-icon-timeline: unquote('"\\e965"');
$upk-icon-featured-list: unquote('"\\e966"');
$upk-icon-tag-cloud: unquote('"\\e960"');
$upk-icon-post-accordion: unquote('"\\e962"');
$upk-icon-harold-carousel: unquote('"\\e963"');
$upk-icon-post-category: unquote('"\\e964"');
$upk-icon-news-ticker: unquote('"\\e95f"');
$upk-icon-kalon-carousel: unquote('"\\e95c"');
$upk-icon-kalon-grid: unquote('"\\e95d"');
$upk-icon-paradox-slider: unquote('"\\e95e"');
$upk-icon-alice-carousel: unquote('"\\e958"');
$upk-icon-alice-grid: unquote('"\\e959"');
$upk-icon-harold-list: unquote('"\\e95a"');
$upk-icon-alex-carousel: unquote('"\\e951"');
$upk-icon-alex-grid: unquote('"\\e952"');
$upk-icon-ramble-grid: unquote('"\\e953"');
$upk-icon-ramble-carousel: unquote('"\\e954"');
$upk-icon-maple-carousel: unquote('"\\e955"');
$upk-icon-elite-carousel: unquote('"\\e956"');
$upk-icon-alter-carousel: unquote('"\\e957"');
$upk-icon-alter-grid: unquote('"\\e902"');
$upk-icon-elite-grid: unquote('"\\e94d"');
$upk-icon-hazel-carousel: unquote('"\\e94e"');
$upk-icon-hazel-grid: unquote('"\\e94f"');
$upk-icon-maple-grid: unquote('"\\e950"');
$upk-icon-dynamic-content: unquote('"\\e9b0"');
$upk-icon-audio_link: unquote('"\\e9a2"');
$upk-icon-multicolor-item: unquote('"\\e993"');
$upk-icon-category_image: unquote('"\\e9c2"');
$upk-icon-video_link: unquote('"\\e9c3"');
$upk-icon-live-copy: unquote('"\\e9bf"');
$upk-icon-asset-manager: unquote('"\\e9c0"');
$upk-icon-duplicator: unquote('"\\e9c1"');
$upk-icon-animations: unquote('"\\e982"');
$upk-icon-arrow-left-0: unquote('"\\e99c"');
$upk-icon-arrow-right-0: unquote('"\\e99d"');
$upk-icon-arrow-left-1: unquote('"\\e917"');
$upk-icon-arrow-right-1: unquote('"\\e925"');
$upk-icon-arrow-left-2: unquote('"\\e918"');
$upk-icon-arrow-right-2: unquote('"\\e926"');
$upk-icon-arrow-left-3: unquote('"\\e919"');
$upk-icon-arrow-right-3: unquote('"\\e927"');
$upk-icon-arrow-left-4: unquote('"\\e91a"');
$upk-icon-arrow-right-4: unquote('"\\e928"');
$upk-icon-arrow-left-5: unquote('"\\e943"');
$upk-icon-arrow-right-5: unquote('"\\e944"');
$upk-icon-arrow-left-6: unquote('"\\e945"');
$upk-icon-arrow-right-6: unquote('"\\e946"');
$upk-icon-arrow-left-7: unquote('"\\e949"');
$upk-icon-arrow-right-7: unquote('"\\e94a"');
$upk-icon-arrow-left-8: unquote('"\\e91e"');
$upk-icon-arrow-right-8: unquote('"\\e92c"');
$upk-icon-arrow-left-9: unquote('"\\e91f"');
$upk-icon-arrow-right-9: unquote('"\\e92d"');
$upk-icon-arrow-left-10: unquote('"\\e920"');
$upk-icon-arrow-right-10: unquote('"\\e92e"');
$upk-icon-arrow-left-11: unquote('"\\e921"');
$upk-icon-arrow-right-11: unquote('"\\e92f"');
$upk-icon-arrow-left-12: unquote('"\\e94b"');
$upk-icon-arrow-right-12: unquote('"\\e94c"');
$upk-icon-arrow-left-13: unquote('"\\e922"');
$upk-icon-arrow-right-13: unquote('"\\e930"');
$upk-icon-arrow-left-14: unquote('"\\e91d"');
$upk-icon-arrow-right-14: unquote('"\\e92b"');
$upk-icon-arrow-left-15: unquote('"\\e923"');
$upk-icon-arrow-right-15: unquote('"\\e931"');
$upk-icon-arrow-left-16: unquote('"\\e924"');
$upk-icon-arrow-right-16: unquote('"\\e932"');
$upk-icon-arrow-left-17: unquote('"\\e91c"');
$upk-icon-arrow-right-17: unquote('"\\e92a"');
$upk-icon-arrow-left-18: unquote('"\\e91b"');
$upk-icon-arrow-right-18: unquote('"\\e929"');
$upk-icon-arrow-up-1: unquote('"\\e933"');
$upk-icon-arrow-down-1: unquote('"\\e910"');
$upk-icon-arrow-up-2: unquote('"\\e934"');
$upk-icon-arrow-down-2: unquote('"\\e911"');
$upk-icon-arrow-up-3: unquote('"\\e935"');
$upk-icon-arrow-down-3: unquote('"\\e912"');
$upk-icon-arrow-up-4: unquote('"\\e936"');
$upk-icon-arrow-down-4: unquote('"\\e913"');
$upk-icon-arrow-up-5: unquote('"\\e937"');
$upk-icon-arrow-down-5: unquote('"\\e915"');
$upk-icon-arrow-up-7: unquote('"\\e938"');
$upk-icon-arrow-down-7: unquote('"\\e916"');
$upk-icon-arrow-up-8: unquote('"\\e939"');
$upk-icon-arrow-down-8: unquote('"\\e947"');
$upk-icon-arrow-left-circle-1: unquote('"\\e93b"');
$upk-icon-arrow-right-circle-1: unquote('"\\e93f"');
$upk-icon-arrow-left-circle-2: unquote('"\\e93c"');
$upk-icon-arrow-right-circle-2: unquote('"\\e940"');
$upk-icon-arrow-left-circle-3: unquote('"\\e93d"');
$upk-icon-arrow-right-circle-3: unquote('"\\e941"');
$upk-icon-arrow-left-circle-4: unquote('"\\e93a"');
$upk-icon-arrow-right-circle-4: unquote('"\\e93e"');
$upk-icon-arrow-left-square-1: unquote('"\\e948"');
$upk-icon-arrow-right-square-1: unquote('"\\e942"');
$upk-icon-play: unquote('"\\e9a3"');
$upk-icon-ultimate-post-kit: unquote('"\\e95b"');
$upk-icon-hexagon-zigzag: unquote('"\\e90f"');
$upk-icon-bulge-rectangle: unquote('"\\e90e"');
$upk-icon-hexagon-radius2: unquote('"\\e90d"');
$upk-icon-hexagon: unquote('"\\e90c"');
$upk-icon-hexagon-radius: unquote('"\\e604"');
$upk-icon-g2: unquote('"\\e90b"');
$upk-icon-plus-2: unquote('"\\e908"');
$upk-icon-user: unquote('"\\f007"');
$upk-icon-eye: unquote('"\\f06e"');
$upk-icon-email: unquote('"\\f0e0"');
$upk-icon-meneame: unquote('"\\e906"');
$upk-icon-moimir: unquote('"\\e900"');
$upk-icon-instapaper: unquote('"\\e903"');
$upk-icon-surfingbird: unquote('"\\e904"');
$upk-icon-livejournal: unquote('"\\e905"');
$upk-icon-baidu: unquote('"\\e907"');
$upk-icon-line: unquote('"\\e90a"');
$upk-icon-twitter: unquote('"\\f099"');
$upk-icon-linkedin: unquote('"\\f0e1"');
$upk-icon-github: unquote('"\\f113"');
$upk-icon-youtube: unquote('"\\f167"');
$upk-icon-xing: unquote('"\\f168"');
$upk-icon-instagram: unquote('"\\f16d"');
$upk-icon-tumblr: unquote('"\\f173"');
$upk-icon-apple: unquote('"\\f179"');
$upk-icon-android: unquote('"\\f17b"');
$upk-icon-dribbble: unquote('"\\f17d"');
$upk-icon-skype: unquote('"\\f17e"');
$upk-icon-vk: unquote('"\\f189"');
$upk-icon-weibo: unquote('"\\f18a"');
$upk-icon-renren: unquote('"\\f18b"');
$upk-icon-wordpress: unquote('"\\f19a"');
$upk-icon-google: unquote('"\\f1a0"');
$upk-icon-delicious: unquote('"\\f1a5"');
$upk-icon-digg: unquote('"\\f1a6"');
$upk-icon-soundcloud: unquote('"\\f1be"');
$upk-icon-wechat: unquote('"\\f1d7"');
$upk-icon-pinterest: unquote('"\\f231"');
$upk-icon-whatsapp: unquote('"\\f232"');
$upk-icon-odnoklassniki: unquote('"\\f263"');
$upk-icon-pocket: unquote('"\\f265"');
$upk-icon-safari: unquote('"\\f267"');
$upk-icon-chrome: unquote('"\\f268"');
$upk-icon-firefox: unquote('"\\f269"');
$upk-icon-opera: unquote('"\\f26a"');
$upk-icon-ie: unquote('"\\f26b"');
$upk-icon-vimeo: unquote('"\\f27d"');
$upk-icon-reddit: unquote('"\\f281"');
$upk-icon-edge: unquote('"\\f282"');
$upk-icon-blogger: unquote('"\\f37d"');
$upk-icon-facebook: unquote('"\\f39e"');
$upk-icon-messenger: unquote('"\\f39f"');
$upk-icon-googleplay: unquote('"\\f3ab"');
$upk-icon-mix: unquote('"\\f3cb"');
$upk-icon-telegram: unquote('"\\f3fe"');
$upk-icon-uikit: unquote('"\\f403"');
$upk-icon-viber: unquote('"\\f409"');
$upk-icon-flipboard: unquote('"\\f44d"');
$upk-icon-buffer: unquote('"\\f837"');
$upk-icon-evernote: unquote('"\\f839"');
$upk-icon-plus: unquote('"\\e909"');
$upk-icon-search: unquote('"\\e901"');
$upk-icon-edit: unquote('"\\e914"');
$upk-icon-video-player: unquote('"\\e961"');
$upk-icon-book-play: unquote('"\\e9b1"');
$upk-icon-tutorial: unquote('"\\e9b1"');
$upk-icon-post: unquote('"\\e9ad"');
$upk-icon-picture: unquote('"\\e9af"');
$upk-icon-music: unquote('"\\e9b2"');
$upk-icon-video: unquote('"\\e9b3"');
$upk-icon-code: unquote('"\\e9bb"');
$upk-icon-cart: unquote('"\\e9ff"');
$upk-icon-location: unquote('"\\ea3d"');
$upk-icon-clock: unquote('"\\ea4f"');
$upk-icon-calendar: unquote('"\\ea5f"');
$upk-icon-display: unquote('"\\ea75"');
$upk-icon-preview: unquote('"\\ea75"');
$upk-icon-bubble: unquote('"\\eac7"');
$upk-icon-bubbles: unquote('"\\eac9"');
$upk-icon-quote: unquote('"\\eae1"');
$upk-icon-spinner: unquote('"\\eb23"');
$upk-icon-loading: unquote('"\\eb23"');
$upk-icon-spinner-2: unquote('"\\eb2a"');
$upk-icon-enlarge: unquote('"\\eb3c"');
$upk-icon-lock: unquote('"\\eb51"');
$upk-icon-menu: unquote('"\\ec71"');
$upk-icon-website: unquote('"\\ec98"');
$upk-icon-url: unquote('"\\ec98"');
$upk-icon-link: unquote('"\\ec9f"');
$upk-icon-star-empty: unquote('"\\ece0"');
$upk-icon-star-half: unquote('"\\ece1"');
$upk-icon-star-full: unquote('"\\ece2"');
$upk-icon-heart-full: unquote('"\\ecec"');
$upk-icon-heart-empty: unquote('"\\eced"');
$upk-icon-gallery: unquote('"\\ed3f"');
$upk-icon-question: unquote('"\\ed55"');
$upk-icon-plus3: unquote('"\\ed5d"');
$upk-icon-checkmark: unquote('"\\ed71"');
$upk-icon-new-tab: unquote('"\\eec9"');
$upk-icon-behance: unquote('"\\ef07"');
$upk-icon-yelp: unquote('"\\ef36"');

