$icomoon-font-family: "ultimate-post-kit" !default;
$icomoon-font-path: "fonts" !default;

$upk-icon-gratis-grid: "\e995";
$upk-icon-eldora-carousel: "\e996";
$upk-icon-gratis-carousel: "\e997";
$upk-icon-candy-list: "\e994";
$upk-icon-instagram-gallery: "\e992";
$upk-icon-banner: "\e98f";
$upk-icon-stone-hover: "\e991";
$upk-icon-snog-slider: "\e98e";
$upk-icon-iconic-slider: "\e9a8";
$upk-icon-exotic-list: "\e98d";
$upk-icon-foxico-slider: "\e98c";
$upk-icon-reading-progress-circle: "\e98b";
$upk-icon-pholox-slider: "\e990";
$upk-icon-sline-slider: "\e999";
$upk-icon-berlin-slider: "\e9a4";
$upk-icon-carbon-slider: "\e98a";
$upk-icon-reading-progress: "\e987";
$upk-icon-atlas-slider: "\e988";
$upk-icon-category-carousel: "\e989";
$upk-icon-crystal-slider: "\e986";
$upk-icon-vertex-slider: "\e984";
$upk-icon-camux-slider: "\e985";
$upk-icon-static-social-count: "\e983";
$upk-icon-welsh-list: "\e97f";
$upk-icon-amox-carousel: "\e980";
$upk-icon-amox-grid: "\e981";
$upk-icon-skide-slider: "\e97e";
$upk-icon-recent-comments: "\e97d";
$upk-icon-pixina-grid: "\e975";
$upk-icon-classic-list: "\e976";
$upk-icon-noxe-slider: "\e977";
$upk-icon-grove-timeline: "\e978";
$upk-icon-post-calendar: "\e979";
$upk-icon-wixer-carousel: "\e97a";
$upk-icon-wixer-grid: "\e97b";
$upk-icon-pixina-carousel: "\e97c";
$upk-icon-soft-timeline: "\e96f";
$upk-icon-hansel-slider: "\e970";
$upk-icon-holux-tabs: "\e971";
$upk-icon-forbes-tabs: "\e972";
$upk-icon-snap-timeline: "\e973";
$upk-icon-optick-slider: "\e974";
$upk-icon-buzz-list: "\e96a";
$upk-icon-buzz-list-carousel: "\e96b";
$upk-icon-newsletter: "\e96c";
$upk-icon-scott-list: "\e96d";
$upk-icon-fanel-list: "\e96e";
$upk-icon-social-share: "\e969";
$upk-icon-social-link: "\e969";
$upk-icon-tiny-list: "\e968";
$upk-icon-author: "\e967";
$upk-icon-timeline: "\e965";
$upk-icon-featured-list: "\e966";
$upk-icon-tag-cloud: "\e960";
$upk-icon-post-accordion: "\e962";
$upk-icon-harold-carousel: "\e963";
$upk-icon-post-category: "\e964";
$upk-icon-news-ticker: "\e95f";
$upk-icon-kalon-carousel: "\e95c";
$upk-icon-kalon-grid: "\e95d";
$upk-icon-paradox-slider: "\e95e";
$upk-icon-alice-carousel: "\e958";
$upk-icon-alice-grid: "\e959";
$upk-icon-harold-list: "\e95a";
$upk-icon-alex-carousel: "\e951";
$upk-icon-alex-grid: "\e952";
$upk-icon-ramble-grid: "\e953";
$upk-icon-ramble-carousel: "\e954";
$upk-icon-maple-carousel: "\e955";
$upk-icon-elite-carousel: "\e956";
$upk-icon-alter-carousel: "\e957";
$upk-icon-alter-grid: "\e902";
$upk-icon-elite-grid: "\e94d";
$upk-icon-hazel-carousel: "\e94e";
$upk-icon-hazel-grid: "\e94f";
$upk-icon-maple-grid: "\e950";
$upk-icon-multicolor-item: "\e993";
$upk-icon-category_image: "\e9c2";
$upk-icon-video_link: "\e9c3";
$upk-icon-live-copy: "\e9bf";
$upk-icon-asset-manager: "\e9c0";
$upk-icon-duplicator: "\e9c1";
$upk-icon-animations: "\e982";
$upk-icon-arrow-left-0: "\e99c";
$upk-icon-arrow-right-0: "\e99d";
$upk-icon-arrow-left-1: "\e917";
$upk-icon-arrow-right-1: "\e925";
$upk-icon-arrow-left-2: "\e918";
$upk-icon-arrow-right-2: "\e926";
$upk-icon-arrow-left-3: "\e919";
$upk-icon-arrow-right-3: "\e927";
$upk-icon-arrow-left-4: "\e91a";
$upk-icon-arrow-right-4: "\e928";
$upk-icon-arrow-left-5: "\e943";
$upk-icon-arrow-right-5: "\e944";
$upk-icon-arrow-left-6: "\e945";
$upk-icon-arrow-right-6: "\e946";
$upk-icon-arrow-left-7: "\e949";
$upk-icon-arrow-right-7: "\e94a";
$upk-icon-arrow-left-8: "\e91e";
$upk-icon-arrow-right-8: "\e92c";
$upk-icon-arrow-left-9: "\e91f";
$upk-icon-arrow-right-9: "\e92d";
$upk-icon-arrow-left-10: "\e920";
$upk-icon-arrow-right-10: "\e92e";
$upk-icon-arrow-left-11: "\e921";
$upk-icon-arrow-right-11: "\e92f";
$upk-icon-arrow-left-12: "\e94b";
$upk-icon-arrow-right-12: "\e94c";
$upk-icon-arrow-left-13: "\e922";
$upk-icon-arrow-right-13: "\e930";
$upk-icon-arrow-left-14: "\e91d";
$upk-icon-arrow-right-14: "\e92b";
$upk-icon-arrow-left-15: "\e923";
$upk-icon-arrow-right-15: "\e931";
$upk-icon-arrow-left-16: "\e924";
$upk-icon-arrow-right-16: "\e932";
$upk-icon-arrow-left-17: "\e91c";
$upk-icon-arrow-right-17: "\e92a";
$upk-icon-arrow-left-18: "\e91b";
$upk-icon-arrow-right-18: "\e929";
$upk-icon-arrow-up-1: "\e933";
$upk-icon-arrow-down-1: "\e910";
$upk-icon-arrow-up-2: "\e934";
$upk-icon-arrow-down-2: "\e911";
$upk-icon-arrow-up-3: "\e935";
$upk-icon-arrow-down-3: "\e912";
$upk-icon-arrow-up-4: "\e936";
$upk-icon-arrow-down-4: "\e913";
$upk-icon-arrow-up-5: "\e937";
$upk-icon-arrow-down-5: "\e915";
$upk-icon-arrow-up-7: "\e938";
$upk-icon-arrow-down-7: "\e916";
$upk-icon-arrow-up-8: "\e939";
$upk-icon-arrow-down-8: "\e947";
$upk-icon-arrow-left-circle-1: "\e93b";
$upk-icon-arrow-right-circle-1: "\e93f";
$upk-icon-arrow-left-circle-2: "\e93c";
$upk-icon-arrow-right-circle-2: "\e940";
$upk-icon-arrow-left-circle-3: "\e93d";
$upk-icon-arrow-right-circle-3: "\e941";
$upk-icon-arrow-left-circle-4: "\e93a";
$upk-icon-arrow-right-circle-4: "\e93e";
$upk-icon-arrow-left-square-1: "\e948";
$upk-icon-arrow-right-square-1: "\e942";
$upk-icon-ultimate-post-kit: "\e95b";
$upk-icon-hexagon-zigzag: "\e90f";
$upk-icon-bulge-rectangle: "\e90e";
$upk-icon-hexagon-radius2: "\e90d";
$upk-icon-hexagon: "\e90c";
$upk-icon-hexagon-radius: "\e604";
$upk-icon-g2: "\e90b";
$upk-icon-plus-2: "\e908";
$upk-icon-user: "\f007";
$upk-icon-eye: "\f06e";
$upk-icon-preview: "\f06e";
$upk-icon-email: "\f0e0";
$upk-icon-meneame: "\e906";
$upk-icon-moimir: "\e900";
$upk-icon-instapaper: "\e903";
$upk-icon-surfingbird: "\e904";
$upk-icon-livejournal: "\e905";
$upk-icon-baidu: "\e907";
$upk-icon-line: "\e90a";
$upk-icon-twitter: "\f099";
$upk-icon-linkedin: "\f0e1";
$upk-icon-github: "\f113";
$upk-icon-youtube: "\f167";
$upk-icon-xing: "\f168";
$upk-icon-instagram: "\f16d";
$upk-icon-tumblr: "\f173";
$upk-icon-apple: "\f179";
$upk-icon-android: "\f17b";
$upk-icon-dribbble: "\f17d";
$upk-icon-skype: "\f17e";
$upk-icon-vk: "\f189";
$upk-icon-weibo: "\f18a";
$upk-icon-renren: "\f18b";
$upk-icon-wordpress: "\f19a";
$upk-icon-google: "\f1a0";
$upk-icon-delicious: "\f1a5";
$upk-icon-digg: "\f1a6";
$upk-icon-soundcloud: "\f1be";
$upk-icon-wechat: "\f1d7";
$upk-icon-pinterest: "\f231";
$upk-icon-whatsapp: "\f232";
$upk-icon-odnoklassniki: "\f263";
$upk-icon-pocket: "\f265";
$upk-icon-safari: "\f267";
$upk-icon-chrome: "\f268";
$upk-icon-firefox: "\f269";
$upk-icon-opera: "\f26a";
$upk-icon-ie: "\f26b";
$upk-icon-vimeo: "\f27d";
$upk-icon-reddit: "\f281";
$upk-icon-edge: "\f282";
$upk-icon-blogger: "\f37d";
$upk-icon-facebook: "\f39e";
$upk-icon-messenger: "\f39f";
$upk-icon-googleplay: "\f3ab";
$upk-icon-mix: "\f3cb";
$upk-icon-telegram: "\f3fe";
$upk-icon-uikit: "\f403";
$upk-icon-viber: "\f409";
$upk-icon-flipboard: "\f44d";
$upk-icon-buffer: "\f837";
$upk-icon-evernote: "\f839";
$upk-icon-plus: "\e909";
$upk-icon-search: "\e901";
$upk-icon-edit: "\e914";
$upk-icon-video-player: "\e961";
$upk-icon-post: "\e9ad";
$upk-icon-picture: "\e9af";
$upk-icon-music: "\e9b2";
$upk-icon-video: "\e9b3";
$upk-icon-code: "\e9bb";
$upk-icon-cart: "\e9ff";
$upk-icon-location: "\ea3d";
$upk-icon-clock: "\ea4f";
$upk-icon-calendar: "\ea5f";
$upk-icon-display: "\ea75";
$upk-icon-tutorial: "\ea75";
$upk-icon-bubble: "\eac7";
$upk-icon-bubbles: "\eac9";
$upk-icon-quote: "\eae1";
$upk-icon-spinner: "\eb23";
$upk-icon-loading: "\eb23";
$upk-icon-spinner-2: "\eb2a";
$upk-icon-enlarge: "\eb3c";
$upk-icon-lock: "\eb51";
$upk-icon-menu: "\ec71";
$upk-icon-website: "\ec98";
$upk-icon-url: "\ec98";
$upk-icon-link: "\ec9f";
$upk-icon-star-empty: "\ece0";
$upk-icon-star-half: "\ece1";
$upk-icon-star-full: "\ece2";
$upk-icon-heart-full: "\ecec";
$upk-icon-heart-empty: "\eced";
$upk-icon-gallery: "\ed3f";
$upk-icon-question: "\ed55";
$upk-icon-plus3: "\ed5d";
$upk-icon-checkmark: "\ed71";
$upk-icon-new-tab: "\eec9";
$upk-icon-behance: "\ef07";
$upk-icon-yelp: "\ef36";

